{% extends 'base.html' %}

{% block body %}
    <h3>{{ article.title }}</h3>
    <p>{{ article.content}}</p>
    <p>{{ article.user }}</p>
    <a href="{% url 'articles:update' id=article.id %}">update</a>

    {% if user.is_authenticated %}
        <form action="{% url 'articles:comment_create' article_id=article.id %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit">
        </form>
    {% endif %}

    <hr>
    {% for comment in article.comment_set.all %}
    <li>{{ comment.user }} : {{comment.content }}</li>
    {% endfor %}
{% endblock %}